
    nav {
        display: block;
        background-color: rgb(61, 47, 73);
        margin: 0 0 0 0;
        border: 0 0 0 0;
        padding: 0 0 0 0;
        
        z-index: +10;
}

nav ul {
    list-style-type: upper-roman;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;

    
}

nav ul li a {
    display: inline-block;
    padding: 5px 30px;
    color: rgb(198, 193, 203); 
    
}


nav ul li a:hover {
    background-color: rgb(57, 38, 73);
    text-shadow: 0.7px 0.7px black;
    padding: 12.5px 30px;
    color: aliceblue;
    
}
